@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #242829;
  margin: 0 auto;
  font-family: Roboto;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
  margin-top: 40px;
  justify-content: center;
  z-index: 2;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  font-weight: 700;
}

.logo {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: #e8e8e8;
  width: 45vw;
}

.menu li {
  font-size: 18px;
  text-align: center;
}

header img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 45px;
}

header h1 {
  text-transform: uppercase;
  color: #ff9862;
  font-size: 24px;
  font-weight: 600;
}

.homepage {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("/assets/images/dog-capa.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.homepage span {
  width: 45vw;
  position: absolute;
  top: 30%;
}

.homepage p {
  color: #ff9862;
  width: 300px;
  font-size: 19px;
  line-height: 20px;
  font-style: italic;
}

.homepage ul {
  display: flex;
  color: #e8e8e8;
}

.icons {
  width: fit-content;
  font-size: 45px;
  color: #ff9862;
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.all-dogs {
  background-color: #ff9862;
  padding: 1.5vw;
  display: flex;
  height: 550px;
  overflow-x: hidden;
  scrollbar-width: none;
  overflow-y: hidden;
  width: 100vw;
  box-sizing: border-box;
}

main h2 {
  color: #ff9862;
  font-size: 30px;
  margin: 20vh 0px 0;
  font-weight: 500;
  text-transform: lowercase;
}

.all-dogs > div {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
  display: inline-block;
}

.all-dogs img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.all-dogs p {
  margin-top: 5px;
}

.all-dogs div > p:nth-child(2) {
  font-size: 17px;
  text-align: justify;
}

.all-dogs div > p:nth-child(3) {
  font-weight: 600;
}

.arrow {
  color: #e8e8e8;
  position: absolute;
  font-size: 50px;
  right: 0;
  margin-top: 200px;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.ongs div {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.ongs > div > span {
  height: 200px;
  margin-right: 20px;
}

.ongs p {
  color: #e8e8e8;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.ongs img {
  height: 120px;
  margin: 50px 10px 0px;
  align-self: center;
  filter: grayscale(100%);
  filter: sepia(90%) hue-rotate(1deg);
}

.mission {
  width: 100vw;
  padding: 1.5vw;
  box-sizing: border-box;
  display: flex;
  background-color: #ff9862;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}

.mission p {
  width: 50%;
  font-size: 18px;
  line-height: 25px;
  margin-right: 25px;
  text-align: justify;
  font-weight: 500;
}

.mission img {
  width: 45%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
}

.fineline {
  height: 10px;
  background-color: #ff9862;
  width: 100vw;
}

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact > div {
  width: 600px;
}

.contact div > p {
  width: 100%;
  color: #e8e8e8;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

.contact span {
  display: flex;
}

.contact span div {
  display: flex;
  flex-direction: column;
}

label {
  color: #e8e8e8;
  margin-bottom: 5px;
}

input {
  width: 290px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.message {
  display: flex;
  flex-direction: column;
}

form > span {
  justify-content: space-around;
}

textarea {
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Roboto;
  padding: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  border: none;
  background-color: #ff9862;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20vh;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff9862;
  padding: 10px 0;
}

footer p {
  color: #242829;
  font-weight: 700;
}

footer div {
  text-align: center;
}

footer ion-icon {
  color: #242829;
  font-size: 30px;
  margin: 15px 0;
}

footer > p {
  margin: 30px 0 0;
  width: 100%;
  text-align: center;
  color: #242829;
  font-weight: 400;
}
